{{ form_start(form) }}

<div class="mb-4 gap-5 p-10">

    {{ form_widget(form, {

        attr:{"class": ' form-control text-black bg-red-200'},
       
    }) }}

</div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
