
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './vendor/splide.min.css';


.f-red {
    background-color: red;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    color: greenyellow;
    padding: 5px;
}

.f-red:hover {
    background-color: rgb(194, 140, 140);
    border-radius: 20px;
    margin: 5px;
}


body.light {
    background-color: #ffffff !important;
    color: #000000 !important;
}

body.dark {
    background-color: #eca0a0 !important;
    color: #4cafd6 !important;
}

