
@tailwind base;
@tailwind components;
@tailwind utilities;
body {

}


.f-red {
    background-color: red;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    color: greenyellow;
    padding: 5px;
}

.f-red:hover {
    background-color: rgb(194, 140, 140);
    border-radius: 20px;
    margin: 5px;
}