<div class="m-auto text-center p-10 bg-teal-200 {{ theme }}">
	<form action="{{ path('home') }}" method="POST" data-turbo-frame="produit_search">
		<input type="hidden" name="form" value="search_nom">
		<input type="text" name="search" placeholder="Nom du produit">
		<button type="submit">Rechercher</button>
	</form>

	<turbo-frame id="produit_search">
		{% if selectedProduit %}
			<h2>Produit trouvé :</h2>	
			<p>{{ selectedProduit.nom }}</p>
			<p>{{ selectedProduit.prix }}</p>
		{% endif %}
	</turbo-frame>


</div>
