<div class="m-auto text-center bg-slate-300 p-10">
	<h3 class="text-2xl">
		le compte des produits avec methode count()
	</h3>

	{% if countProduits %}

		<p>
			le count est :
			{{ countProduits  }}</p>

	{% endif %}


</div>
