   <div class="flex flex-col m-auto xl:w-1/2 gap-2">
         <p class="text-center p-1 shadow-xl">clique ici pour voir des exemples avec methodes find() findby() count()...  </p>
        <button class="btn btn-primary w-16 m-auto" onclick="document.getElementById('toggle-content').classList.toggle('hidden')">voir</button>
	   </div>


     